body{
    background-color: rgb(196, 231, 242);
    color: gray;
   text-align: center;
   margin: 100px;
}
.container{
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    width: 400px;
}
input{
    width: 150px;
    padding: 30px;
    text-align: center;
}
.button_container{
    padding: 20px;
}
button{
    width: auto;
    height: 40px;
    margin: 10px;
    background-color:rgb(234, 196, 202);
    border: 2px solid lightpink;
    border-radius: 2px;
}
#output{
    font-weight: bold;
    margin-top: 15px;
    color: black;
}